body {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body:before,
body:after {
  content: '';
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
}
body:before {
  top: 0;
  border-top: 10px solid #22cae6;
}
body:after {
  bottom: 0;
  border-bottom: 10px solid #ff8800;
}
a {
  color: #00B7FF;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-weight: normal;
  line-height: 1.5em;
  margin-top: -0.5em;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.answers,
div.tools {
  min-height: 100px;
  text-indent: 10px;
  max-width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #2e3641;
  border-top: 0;
  padding-bottom: 10px;
  border-radius: 6px 6px 3px 3px;
}
div.answers .words,
div.tools .words {
  max-height: 275px;
  overflow: auto;
}
div.answers .words span,
div.tools .words span {
  text-indent: 0;
  display: block;
  padding: 3px;
  cursor: pointer;
  cursor: hand;
}
div.answers .words span:hover,
div.tools .words span:hover,
div.answers .words span.selected,
div.tools .words span.selected {
  background-color: #e6e6e6;
}
div.answers h3,
div.tools h3 {
  text-indent: 0;
  border-radius: 3px 3px 0 0;
  background-color: #2e3641;
  color: #fff;
  margin: 0;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
div.answers h3 select,
div.tools h3 select {
  margin-left: 10px;
}
div.board {
  float: right;
}
ul.board ul {
  clear: both;
}
ul.board ul li {
  float: left;
}
ul.board input {
  width: 40px;
  text-align: center;
  font-size: 20pt;
  border: 2px inset;
}
ul.board input.invalid {
  border: 2px inset red;
}
ul.board input.orange {
  background-color: #ffa033;
}
ul.board input.blue {
  background-color: #50d5eb;
}
ul.board input.selected {
  background-color: #16a7bf;
}
input[type=submit] {
  margin: 10px 10px 30px 0;
  font-size: 16pt;
  border: 0;
  box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.1) inset;
  border-radius: 6px 6px 6px 6px;
  background-color: #22cae6;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  cursor: hand;
}
input[type=submit]:hover {
  background-color: #16a7bf;
}
section#react {
    display: grid;
}